@font-face {
  font-family: 'Exodus';
  src: url('Font/ExodusRegular.otf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

html, body {
	margin: 0;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
}

#sections {
	width: 100%;
	height: 100%;
}

.section {
	width: 100%;
	height: 100%;
	background-color: gray;
}

.pallet {
	position: fixed;
}

.border {
	position: absolute;
	margin: auto;
	width: 600px;
	height: 260px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 5px;
	border: 1px solid white;
    border-radius: 1px;
	overflow: hidden;
	animation: initInfo 2s;
}

#info {
	width: 100%;
	height: 100%;
	background-color: white;
    border-radius: 1px;
    text-align: center;
    font-family: "Exodus";
	overflow: hidden;
}

@keyframes initInfo {
	0%   {width: 0px; color: rgb(255, 255, 255); border-color: rgba(255, 255, 255, 0);}
	30%  {width: 0px; border-color: rgba(255, 255, 255, 0);}
    60%  {width: 600px; color: rgb(255, 255, 255); border-color: rgba(255, 255, 255, 1);}
    100%  {color: rgb(0, 0, 0);}
}

@keyframes inForm {
    from {transform: translate(0, 200);}
    to {transform: translate(0, 0);}
}