html, body {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

#sections {
	width: 100%;
	height: 100%;
}

.section {
	width: 100%;
	height: 100%;
	background-color: gray;
}

.pallet {
	position: fixed;
}