body {
	margin: 50px;
	padding: 0;
	background-color: #5B5EEA;
	overflow: hidden;
	font-family: 'Quicksand', sans-serif;
}

#info{
	margin-top: 8px;
	width: 100%;
	color: white;
	text-align: center;
	font-size: 20px;
}

.center {
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
}